<div *ngIf="posts.length; else loading">
    <div class="my-3">
        <input type="text" class="form-control" placeholder="Search..."  [(ngModel)]="searchStr">
    </div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Title</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | search:searchStr; let idx = index">
            <td>{{idx +1}}</td>
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td>{{post.date | date: 'medium'}}</td>
            <td>
                <button class="mr-2" [routerLink]="['/admin', 'edit', post.id, 'edit']">Open</button>
                <a (click)="remove(post.id)">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ng-template #loading>
    <div class="wrapper">
        <div class="preloader"></div>
    </div>
</ng-template>